
<%= render 'books/list', book: Book.new , user: @user %>

<div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
    <tbody>
        <tr>
          <td><%= link_to user_path(@book_detail.user.id) do %>
          <%= attachment_image_tag @book_detail.user, :profile_image, size:'40x40', format: 'jpeg', fallback: "no_image.jpg" %><br>
          <%= @book_detail.user.name %></td>
          <% end %>
          <td><%= link_to "#" do %><%= @book_detail.title %></td>
          <% end %>

          <td><%= @book_detail.body %></td>
          <td id=<%="favorites_buttons#{@book_detail.id}"%>>
            <%= render partial: 'favorites/favorite', locals: {book: @book_detail} %>
          </td>
          <td>
            <%= link_to "コメント数: #{@book_detail.book_comments.count}", book_path(@book.id) %>
          </td>
          <% if @book_detail.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book_detail), class:"btn btn-sm btn-success" %></td>
          <td><%= link_to "Destroy", book_path(@book_detail), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger" %>
          <% end %>
          </td>
      </tr>
    </tbody>
    </table>
    <tbody>
    <div id="comment">
    <%= render partial: 'book_comments/book_comment', locals: {book: @book, book_comment: @book_comment} %>
    </div>
</div>
